<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="reservationSuite">
    <test verbose="2" preserve-order="true" name="ReserveTests">

        <classes>
            <class name="tests.T02_SearchForBusTest"/>
            <class name="tests.T03_SelectBusTest"/>
            <class name="tests.T04_PayMethodTest"/>
        </classes>


    </test>
</suite>

